---
import { markdownify } from "@/lib/utils/textConverter";
import ReactIcons from "@/helpers/ReactIcons.astro";
import uniqueIdGenerator from "@/lib/utils/uniqueIdGenerator";
---

<section id="about">
  <div class:list={["container", "space-y-14"]}>
    <h2
      class:list={["text-h1-sm md:text-h1 mx-auto max-w-3xl text-center"]}
      set:html={markdownify("About")}
    />
    <div class:list={["mx-auto", "w-full", "max-w-4xl"]}>
      <p class="mb-3" style="text-align: center;">
        Hello, I’m Lisa, a Vancouver-based communications consultant with nearly
        20 years of experience helping organizations navigate growth, change,
        and complexity with clarity and impact. I’ve partnered with leaders
        across tech, tourism, healthcare, and retail—both in Canada and
        globally—to craft authentic stories, strengthen their voice, and develop
        strategies that connect, inspire, and move businesses forward. I’m
        passionate about creating impactful communications, with a focus on
        internal communications and strategic storytelling.
      </p>
    </div>
  </div>
</section>
