---
import { markdownify } from "@/lib/utils/textConverter";
import ReactIcons from "@/helpers/ReactIcons.astro";
import uniqueIdGenerator from "@/lib/utils/uniqueIdGenerator";
---

<section id="about">
  <div class:list={["container", "space-y-14"]}>
    <h2
      class:list={["text-h1-sm md:text-h1 mx-auto max-w-3xl text-center"]}
      set:html={markdownify("About")}
    />
    <div class:list={["mx-auto", "w-full", "max-w-4xl"]}>
      <p class="mb-3">
        Based in Vancouver, BC, I bring nearly 20 years of experience helping
        organizations communicate with purpose and precision—especially in
        moments of growth, change, or complexity.
      </p>

      <p class="mb-3">
        For over a decade, I worked in the tech industry, leading internal and
        executive communications at a fast-paced global company. Today, I
        partner with companies and brands to craft and share stories that
        connect—elevating their identity and values through strategic
        storytelling. My experience spans retail, healthcare, and tourism
        industries, giving me a unique ability to translate nuanced, technical,
        or service-driven work into clear, engaging narratives.
      </p>

      <p class="mb-3">
        I support leaders and teams with message development, brand voice,
        change management, and content strategy—always with a focus on impact
        and authenticity. Whether you're launching something new or navigating
        change, I help ensure your communications not only inform, but inspire.
      </p>

      <p>
        The common thread?<br />Thoughtful strategy, clear voice, and
        communications that move people—and businesses forward.
      </p>
    </div>
  </div>
</section>
